<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/comments.css" type = "text/css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/connect.js"></script>
</head>    
<body>
  <div id="navigation_bar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/Home">Pennbook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/Home">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/walls?user=<%= user %>">Personal Wall</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friends">Friends</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/searchArticlesPage"> Search Articles</a>
          <li class = "nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
          </li>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <br>
  <br>

  <div class = "posts">
      <% if (postContent != false) { %>
          <div class = "post">
            <div class = "author_details">
              <small> <a href="/walls?user=<%= postContent.Author%>"> <%= postContent.Author%>  </a> <%= postContent.dateTime %> </small>
            </div>
            <br>
            <h5><%= postContent.Post %></h5>
            <br>
            <hr>
            <div class = "post_comment">
              <br>
              <form class = "form-inline" action = "/commentPost?post=<%=postContent.id%>&user=<%=postContent.Author%>&timeStamp=<%=postContent.time%>" method = "post">
                <div class = "form-group col-md-6">
                  <input type = "text" class="form-control" name="<%=postContent.id%>" > </input>
                </div>
                <br>
                <input type="submit" class="btn btn-primary mb-2" value="Comment">
              </form>
            </div>
          </div>
      <% } %>

      <script>
        var commentsHash = {};
        var reverseHash = {};
      </script>
      <br>
      <h1>Comments: </h1>
      <div class = "comments" id = "comments">
        <% if (comments) { %>
            <% for (var i = 0; i < comments.length; i++) { %>
                <script>
                  var author = "<%= comments[i].Author %>";
                  var datetime = "<%= comments[i].dateTime %>";
                  commentsHash[author + datetime] = "<%=comments[i].Comment%>";
                  reverseHash["<%=comments[i].Comment%>"] = [author, datetime];
                </script>
                <div class = "comment">
                    <div class = "author_details">
                      <small> <a href="/walls?user=<%= comments[i].Author%>"> <%= comments[i].Author%>  </a> <%= comments[i].dateTime %> </small>
                    </div>
                    <br>
                    <h5><%= comments[i].Comment %></h5>
                </div>
            <% } %>
        <% } %>
      </div>

  </div>
    

  
  <script>
    var displayList = function(hash, reverse) {
      var list = document.getElementById("comments");
      list.innerHTML = "";
      for (var key in hash) {
        var comment = hash[key];
        var commentAttributes = reverse[comment];
        list.innerHTML += "<div id = 'comment'> <small> <div id = author>" + commentAttributes[0] + 
          "</div>" + commentAttributes[1] + "</small> <br> <br> <h5>" + comment + "</h5></div>";
      }
    };
    var refreshComments = function() {
      var newCommentsHash = {};
      var authorsNew = {};
      $.post('/onlyGetComments?post=<%=postContent.id%>', function(data) {
        if (data != false) {
          for (var i = 0; i < data.length;i++) {
            newCommentsHash[data[i].Author + data[i].dateTime] = data[i].Comment;
            authorsNew[data[i].Comment] = [data[i].Author, data[i].dateTime];
          }
          for (var key in commentsHash) {
            if (!newCommentsHash[key]) {
              newCommentsHash[key] = commentsHash[key];
              authorsNew[commentsHash[key]] = reverseHash[commentsHash[key]];
            }
          }
          commentsHash = newCommentsHash;
          reverseHash = authorsNew;
          displayList(commentsHash, reverseHash);
        }
        
      });
    };
    $("comments").ready(function() {
 		setInterval('refreshComments()', 20000);
 	});
  </script>
  
</form>
</body>
</html>
